<div id="chooseStudentDlg" style="width: 800px;height: 500px" data-options="buttons: '#csdlg-button',
                                                                        closed: true,
                                                                        shadow:false,
                                                                        modal:true">
    <table id="chooseStudentDG"></table>

    <div id="chooseStudentToolbar" style="display: none">
        <div >
         
        </div>
    </div>
</div>
<div id="csdlg-button">
    <a class="easyui-linkbutton" onclick="chooseStudentData();">确定</a> <a class="easyui-linkbutton"
                                                                        onclick="closeFormDialog('chooseStudentDlg');">取消</a>
</div>

