<style type="text/css">
    dl
    {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left:20px;
    }
    dt
    {
        font-weight: normal;
    }
</style>
<div>
    <div style="padding-left:">
        <form id="advancedSearch" method="post">
        <dl>
            <dt>下单日期： </dt>
            <dd>
                <input type="text" name="StartDate" class="easyui-datebox" style="width: 145px" />
            </dd>
        </dl>
        <dl>
            <dt>至： </dt>
            <dd>
                <input type="text" name="EndDate" class="easyui-datebox" style="width: 145px"/>
            </dd>
        </dl>        
        </form>
    </div>
    <div style="margin-top: 15px; text-align: center">
        <a class="easyui-linkbutton" onclick="advancedSearch();">立即搜索</a> <a class="easyui-linkbutton"
            onclick="clearSearchCriteria();">清除条件</a>
    </div>
</div>
