<style type="text/css">
    dl
    {
        margin-bottom: 10px;
    }
    dt
    {
        font-weight: normal;
    }
</style>
<div>
    <div style="padding-left: 8px;">
        <form id="advancedSearch" method="post">
            <br/>
            线路名称:
            <br/>        
            <select class="easyui-combobox" name="LineId" id="ddlLineAdvSearch" style="width: 180px;">
                <option value="0">请选择</option>
            </select>
            <br/><br/>            
        
            线路所属站点:
            <br/>  
                <select class="easyui-combobox" name="StationId" id="ddlStationAdv" style="width: 150px;" />
            <br/><br/>

        
            付款状态:
            <br/> 
            <select name="PaymentState" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                <option value="1">已付款</option>
                <option value="0">未付款</option>
            </select>
            <br/><br/>
                   
        
            下单起始日期:
            <br/> 
            <input type="text" name="StartDate" class="easyui-datebox" style="width: 150px" />
            <br/><br/>
        
        
            下单结束日期:
            <br/> 
            <input type="text" name="EndDate" class="easyui-datebox" style="width: 150px" />
            <br/><br/>
        
        </form>
    </div>
    <div style="margin-top: 15px; text-align: center">
        <a class="easyui-linkbutton" onclick="advancedSearch();">立即搜索</a> 
        <a class="easyui-linkbutton" onclick="clearSearchCriteria();">清除条件</a>
    </div>
</div>