<div id="dlg" style="width: 850px; padding: 10px" data-options="buttons: '#dlg-buttons',
                                                                closed: true,
                                                                shadow:false,
                                                                modal:true">
    <form id="ff" method="post">
    <table class="custom_forms_popup">
        <tr>
            <td style="width: 20%" class="td_right">
                用户名:
            </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtUserName" type="text" name="UserName" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td><td style="width: 20%" class="td_right">
                     姓名:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtName" type="text" name="Name" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td style="width: 20%" class="td_right">
                学校:
            </td>
            <td class="td_left">
                <select id="sSchool" name='SchoolId'  class="easyui-validatebox" data-options="required:true">
                </select>
            </td><td style="width: 20%" class="td_right">
                    身份证号:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtIDNo" type="text" name="IDNo" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" validType="IdCard" />
            </td>
        </tr>
         <tr>
            <td style="width: 20%" class="td_right">
                性别:
            </td>
            <td class="td_left">
                <select id="sSex" name='Sex' >
                    <option value="1">男</option>
                     <option value="2">女</option>
                </select>
            </td><td style="width: 20%" class="td_right">
                    出生日期:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtBirthday" type="text" name="BirthdayStr" style="width: 185px" maxlength="20"  class="easyui-datebox" data-options="required:true" />
            </td>
        </tr> <tr>
           <td style="width: 20%" class="td_right">
                    籍贯:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtOrigin" type="text" name="Origin" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td><td style="width: 20%" class="td_right">
                    民族:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtMinority" type="text" name="Minority" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td>
              </tr> <tr>
                        <td style="width: 20%" class="td_right">
                            专业:
                        </td>
                        <td class="td_left" style="width: 30%" >
                            <input id="txtProfession" type="text" name="Profession" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
                        </td><td style="width: 20%" class="td_right">
                                 职称:
                             </td>
                        <td class="td_left" style="width: 30%" >
                            <input id="txtProfessiontitles" type="text" name="Professiontitles" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
                        </td>
                    </tr>
        <tr>
            <td style="width: 20%" class="td_right">
                毕业院校:
            </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtGraduated" type="text" name="Graduated" style="width: 185px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td><td style="width: 20%" class="td_right">
                     最高学历:
                 </td>
            <td class="td_left">
                <select id="sHighDegree" name='HighDegree'  class="easyui-validatebox" data-options="required:true">
                    <option value="">请选择</option>
                    <option value="1">高中</option>
                    <option value="2">中专</option>
                    <option value="3">大专</option>
                    <option value="4">本科</option>
                    <option value="5">硕士</option>
                    <option value="6">博士</option>
                    <option value="7">其他</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="width: 20%" class="td_right">
                     任课学段:
                 </td>
            <td class="td_left">
                <select id="sStudyPeriod" name='StudyPeriod' class="easyui-validatebox" data-options="required:true">
                    <option value="">请选择</option>
                    <option value="1">幼儿</option>
                    <option value="2">小学</option>
                    <option value="3">初中</option>
                    <option value="4">高中</option>
                    <option value="5">其他</option>
                </select>
            </td>
            <td style="width: 20%" class="td_right">
                     编制设定:
                 </td>
            <td class="td_left">
                <select id="Staffing" name='Staffing' >
                    <option value="1">在编教师</option>
                    <option value="2">非在编教师</option>
                </select>
            </td>
        </tr><tr><td style="width: 20%" class="td_right">
                     是否班主任:
                 </td>
            <td class="td_left">
                <select id="sInCharge" name='InCharge' >
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </td>
           <td style="width: 20%" class="td_right">
                    职务:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtOffice" type="text" name="Office" style="width: 185px" maxlength="20"  class="easyui-validatebox"  />
            </td>
              </tr><tr><td style="width: 20%" class="td_right">
                    第一任教学科（重要）:
                 </td>
            <td class="td_left" style="width: 30%" >
               <select id="sFirstTeaching" name='FirstTeaching' >
                </select>
            </td>
           <td style="width: 20%" class="td_right">
                    第二任教学科（重要）:
                 </td>
            <td class="td_left" style="width: 30%" >
                <select id="sSecondTeaching" name='SecondTeaching' >
                </select>
            </td>
              </tr><tr><td style="width: 20%" class="td_right">
                    家庭住址:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtAddress" type="text" name="Address" style="width: 185px" maxlength="20"  data-options="required:true"   class="easyui-validatebox"  />
            </td>
           <td style="width: 20%" class="td_right">
                    邮编:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtPostCode" type="text" name="PostCode" style="width: 185px" maxlength="20"  class="easyui-validatebox"  />
            </td>
              </tr><tr><td style="width: 20%" class="td_right">
                    家庭电话:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtPhone" type="text" name="Phone" style="width: 185px" maxlength="20"  class="easyui-validatebox"  />
            </td>
           <td style="width: 20%" class="td_right">
                    手机:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtTelephone" type="text" name="Telephone" style="width: 185px"  data-options="required:true"  maxlength="20"  class="easyui-validatebox"  />
            </td>
              </tr><tr><td style="width: 20%" class="td_right">
                    电子邮箱:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtEmail" type="text" name="Email" style="width: 185px" maxlength="20"  data-options="required:true"   class="easyui-validatebox" />
            </td>
           <td style="width: 20%" class="td_right">
                    荣获最高荣誉或者学术称号:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtHighHonor" type="text" name="HighHonor" style="width: 185px" maxlength="20"  class="easyui-validatebox" />
            </td>
              </tr><tr><td style="width: 20%" class="td_right">
                    市注册码:
                 </td>
            <td class="td_left" style="width: 30%" >
                <input id="txtRegistrationCode" type="text" name="RegistrationCode" style="width: 185px" maxlength="20" />
            </td></tr>
    </table>
    <div>
        <input id="HidName" type="hidden" />
        <input id="HidId" type="hidden" name="Id"/>
    </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveData();">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeFormDialog();">
        取消</a>
</div>
