<div id="dlg" style="width: 630px; padding: 10px" data-options="buttons:'#dlg-buttons',
                                                                        closed: true,
                                                                        shadow:false,
                                                                        modal:true">
    <link href="../../../App_Themes/Global/BanciSeat.css" rel="stylesheet" type="text/css" />
    <form id="ff" method="post">
        <table class="custom_forms_popup">
            <tbody>
                <tr>
                    <td class="td_right" style="width: 20%">
                        线路名称:
                    </td>
                    <td class="td_left" style="width: 30%">
                        <span id="LineName"></span>
                    </td>
                    <td class="td_right" style="width: 20%">
                        价格:
                    </td>
                    <td class="td_left" style="width: 30%">
                        <span id="price"><span class="money_L"><span class="font_y1">￥</span><b id="pricermb"
                                                                                                class="font_y2"></b></span> <span class="money_R"><span class="font_r1">HK$</span><b
                                                                                                                                                                                      id="pricehkd" class="font_r2"></b></span></span>
                    </td>
                </tr>
                <tr>
                    <td class="td_right">
                        往返:
                    </td>
                    <td class="td_left">
                    <span id="isBack"><input type="radio" name="rbSingle" checked="checked" value="1" /><label>单程</label>
                        <input type="radio" name="rbSingle" value="2" /><label>往返</label></span>
                    </td>
                    <td class="td_right">
                        去程日期:
                    </td>
                    <td class="td_left">
                        <input type="text" name="StartDate" id="StartDate" maxlength="10" style="width: 136px"/>
                    </td>
                </tr>
                <tr>
                    <td class="td_right">
                        去程班次:
                    </td>
                    <td class="td_left">
                        <ul id="sddm">
                            <li>
                                <input type="text" name="StrLinebanci" id="StrLinebanci" onmouseover="mopen('m1')"
                                    onmouseout="mclosetime()" maxlength="10" style="width: 136px"/>
                                <div id="m1" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                                    <span id="BanCiTime" class="span_R_long clearfix" style="width: 208px;"></span>
                                </div>
                            </li>
                        </ul>
                        <input type="hidden" name="StrLinebanciId" id="StrLinebanciId" />
                    </td>
                    <td class="td_right">
                        去程座位:
                    </td>
                    <td class="td_left">
                        <ul id="sddm2">
                            <li>
                                <input type="text" name="StrSeat" id="StrSeat" onmouseover="mopen('m3')" onmouseout="mclosetime()"
                                    maxlength="10" style="width: 136px"  readonly='readonly'/>
                                <div id="m3" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                                    <span class="span_R_long clearfix" id="seat" style="width: 196px;"></span>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr id="ddReturn" style="display: none;">
                    <td class="td_right">
                        返程日期:
                    </td>
                    <td class="td_left">
                        <input type="text" name="EndDate" id="EndDate" maxlength="10" style="width: 136px">
                    </td>
                    <td class="td_right">
                        返程班次:
                    </td>
                    <td class="td_left">
                        <ul id="sddm">
                            <li>
                                <input type="text" name="StrLinebanciBack" id="StrLinebanciBack" onmouseover="mopen('m2')"
                                    onmouseout="mclosetime()" maxlength="10" style="width: 136px" />
                                <div id="m2" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                                    <span id="BanCiBackTime" class="span_R_long clearfix" style="width: 208px;"></span>
                                </div>
                            </li>
                        </ul>
                        <input type="hidden" name="StrLinebanciBackId" id="StrLinebanciBackId" />
                    </td>
                </tr>
                <tr id="ddReturn1" style="display: none;">
                    <td class="td_right">
                        返程座位:
                    </td>
                    <td class="td_left" colspan="3">
                        <ul id="sddm2">
                            <li>
                                <input type="text" name="StrSeatBack" id="StrSeatBack" onmouseover="mopen('m4')"
                                    onmouseout="mclosetime()" maxlength="20" style="width: 136px" readonly='readonly' />
                                <div id="m4" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
                                    <span class="span_R_long clearfix" id="seatBack" style="width: 196px;"></span>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr> 
                <tr>
                    <td class="td_right">
                        上车点:
                    </td>
                    <td class="td_left">                       
                            <input id="StrTicketonpoint" type="text" name="StrTicketonpoint" maxlength="20" style="width: 136px" /> 
                    </td>
                    <td class="td_right">
                        下车点:
                    </td>
                    <td class="td_left">
                       <input id="StrTicketoffpoint" type="text" name="StrTicketoffpoint" maxlength="20" style="width: 136px" /> 
                    </td>
                </tr>
                <tr>
                    <td class="td_right">
                        乘客姓名:
                    </td>
                    <td class="td_left">                       
                            <input id="CustomerName" type="text" name="CustomerName" maxlength="20" style="width: 136px" /> 
                    </td>
                    <td class="td_right">
                        联系电话:
                    </td>
                    <td class="td_left">
                       <input id="Phone" type="text" name="Phone" maxlength="20" style="width: 136px" /> 
                    </td>
                </tr>
                <tr>
                    <td class="td_right">
                        备注:
                    </td>
                    <td class="td_left" colspan="3">                       
                            <textarea id="Remark" name="Remark" class="easyui-validatebox" data-options="validType:'maxLength[200]'"
                    cols="60" rows="2" maxlength="200" onkeyup="return isMaxLen(this);" onblur="return isMaxLen(this);"/> 
                    </td>                   
                </tr>
                <tr>
                    <td class="td_right">
                        币种:
                    </td>
                    <td class="td_left" >                        
                        <input type="radio" name="StrCurrencyType" checked="checked" value="RMB" /><label>人民币</label>
                        <input type="radio" name="StrCurrencyType" value="HKD" /><label>港币</label>                      
                    </td>
                    <td class="td_right">
                        接送时间:
                    </td>
                    <td class="td_left">
                        <input id="PickUpTime" type="text" name="PickUpTime" maxlength="10" style="width: 136px" /> 
                    </td>
                </tr>
                
                <tr>
                    <td class="td_right">
                        总价:
                    </td>
                    <td class="td_left" colspan="3">
                        <span id="totalcurrenty" class="font_y1">￥</span><span id="total" class="font_y2 font_size24">390</span>
                    </td>
                </tr>
            </tbody>
        </table>
    <div>
        <input id="TlId" type="hidden" name="TlId" />
        <input name="GuestPriceRMB" id="GuestPriceRMB" type="hidden" value="0" />
        <input name="GuestPriceHKD" id="GuestPriceHKD" type="hidden" value="0" />
        <input name="GuestBackForthPriceRMB" id="GuestBackForthPriceRMB" type="hidden" value="0" />
        <input name="GuestBackForthPriceHKD" id="GuestBackForthPriceHKD" type="hidden" value="0" />
        <input name="BackGuestBackForthPriceRMB" id="BackGuestBackForthPriceRMB" type="hidden" value="0" />
        <input name="BackGuestBackForthPriceHKD" id="BackGuestBackForthPriceHKD" type="hidden" value="0" />

        <input name="PriceAdjustRMB" id="PriceAdjustRMB" type="hidden" value="0" />
        <input name="PriceAdjustHKD" id="PriceAdjustHKD" type="hidden" value="0" />
        <input name="BackPriceAdjustRMB" id="BackPriceAdjustRMB" type="hidden" value="0" />
        <input name="BackPriceAdjustHKD" id="BackPriceAdjustHKD" type="hidden" value="0" />
        <input name="SecondBackPriceAdjustRMB" id="SecondBackPriceAdjustRMB" type="hidden" value="0" />
        <input name="SecondBackPriceAdjustHKD" id="SecondBackPriceAdjustHKD" type="hidden" value="0" />

        <input name="BackLineId" id="BackLineId" type="hidden" value="0" />
        <input name="IsBack" id="IsBack" type="hidden" value="0" />
        <input id="hidBackNum" type="hidden" value="0" />
        <input name="Nun" id="Nun" type="hidden" value="0" />
    </div>
    </form>
</div>
<div id="dlg-buttons">
    <a class="easyui-linkbutton" onclick="saveData();">确定</a> <a class="easyui-linkbutton"
        onclick="closeFormDialog();">取消</a>
</div>
