<div id="dlg" style="width: 400px; padding: 10px" data-options="buttons: '#dlg-buttons',
                                                                closed: true,
                                                                shadow:false,
                                                                modal:true">
    <form id="ff" method="post">
    <table class="custom_forms_popup">
        <tr>
            <td style="width: 30%" class="td_right">
                主项目名:
            </td>
            <td class="td_left">
                <input id="txtProgrameName" type="text" name="ProgrameName" style="width: 165px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td style="width: 30%" class="td_right">
                二级项目名:
            </td>
            <td class="td_left">
                <input id="txtSubProgrameName" type="text" name="SubProgrameName" style="width: 165px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td style="width: 30%" class="td_right">
                三级项目名:
            </td>
            <td class="td_left">
                <input id="txtSunProgrameName" type="text" name="SunProgrameName" style="width: 165px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td style="width: 30%" class="td_right">
                折算学时:
            </td>
            <td class="td_left">
                <input id="txtStuTime" type="text" name="StuTime" style="width: 165px" maxlength="20"  class="easyui-validatebox" data-options="required:true" />
            </td>
        </tr>
    </table>
    <div>
        <input id="HidName" type="hidden" />
        <input id="HidId" type="hidden" name="Id"/>
    </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveData();">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeFormDialog();">
        取消</a>
</div>
