	body{ margin:0; padding:0;font:12px/16px Verdana, Helvetica, Arial, sans-serif;}
	div.marker{
		height:40px;
		width:120px;
		background:url(http://pages.haozu.ajkcdn.com/20110909/img/map/marker.png) left top no-repeat;
		white-space:nowrap;
		cursor:pointer;
	}
	div.marker span{ 
		display:inline-block;
		height:28px;
		line-height:28px;
		margin:0 10px;color:#FFF;
		background:url(http://pages.haozu.ajkcdn.com/20110909/img/map/marker_bg_170x28.gif) right top no-repeat;
		padding-right:10px;
	}
	
	div.point{
		height:40px;
		width:120px;
		white-space:nowrap;
		cursor:pointer;
		padding-left:8px;
		
	}
	div.point span{ 
		display:inline-block;
		height:18px;
		line-height:28px;
		margin:0 0px 0px 12px;
		color: #ff0000;
		padding-left:10px;
		font-weight: bold;
	}
	
	/* 地图的物业类型 */
	div .point_bg_0{background:url(images/mapShangYe.png)  left top no-repeat;}
	div .point_bg_1{background:url(images/mapBanGong.png)  left top no-repeat;}
	div .point_bg_2{background:url(images/mapCangKu.png)  left top no-repeat;}
	div .point_bg_3{background:url(images/mapChangFang.png)  left top no-repeat;}
	div .point_bg_4{background:url(images/mapZongHe.png)  left top no-repeat;}

	div.map {
		width: 800px;
		height: 500px;
	}
	div.info {
		position: relative;
		z-index: 100;
		border: 1px solid #BCBCBC;
		box-shadow: 0 0 10px #B7B6B6;
		border-radius: 8px;
		background-color: rgba(255,255,255,0.9);
		transition-duration: 0.25s;
	}
	div.info:hover {
		box-shadow: 0px 0px 15px #0CF;
	}
	
	div.info-top {
		position: relative;
		background: none repeat scroll 0 0 #F9F9F9;
	  border-bottom: 1px solid #CCC;
		border-radius:5px 5px 0 0;
	}
	div.info-top div {
		display: inline-block;
	  color: #333333;
		font-size:14px;
		font-weight:bold;
		line-height:31px;
		padding:0 10px;
		text-align:left;
	}
	div.info-top img {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor:pointer;
		transition-duration: 0.25s;
	}
	div.info-top img:hover{
		box-shadow: 0px 0px 5px #000;
	}
	div.info-middle {
		font-size:12px;
		padding:10px;
		line-height:21px;
		background: none repeat scroll 0 0 #F9F9F9;
		overflow: hidden;
		border: none;
	}
	div.info-bottom {
		height:0px;
		width:100%;
		clear:both;
		text-align:center;
	}
	div.info-bottom img{
		position: relative;
		z-index:104;
	}

.tenementtype{width:28px;padding: 0px 5px 0px 31px}



.developing_body{ background:#f2f2f2; text-align:center;}
.developing_pic{ width:534px; height:234px;
                 background:#f2f2f2 url(images/develop_pic.jpg) no-repeat center center; margin:154px auto 0 auto;}
                 
.operate_layer ul li
{

    margin-left: 8px;
}