<div id="dlgExtention" style="width: 300px; padding: 10px" data-options="buttons: '#dlg-buttons',
                                                                closed: true,
                                                                shadow:false,
                                                                modal:true">
    <form id="ffExtention" method="post">
    <table class="custom_forms_popup">        
         <tr>
            <td  class="td_right">
                分机号码:
            </td>
            <td class="td_left">
                <input id="txtExtention" type="text" class="easyui-numberbox" name="Extention"  maxlength="20" style="width: 145px"/>
            </td>
        </tr>
    </table>
    <div>
  </div>
    </form>
    <div id="dlg-buttons"  style="text-align: center;margin-top:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveExtention();">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeFormDialogExtention();">
        取消</a>
</div>
</div>

