<div id="chooseStudentDlg" style="width: 800px;height: 300px" data-options="buttons: '#csdlg-button',
                                                                        closed: true,
                                                                        shadow:false,
                                                                        modal:true">
    <table id="chooseStudentDG"></table>

    <div id="chooseStudentToolbar" style="display: none">
        <div >
         <!--   <span class="span_text">选择单位:</span>
            <select id="ddlChooseSchool" name="ddlChooseSchool"  class="easyui-combobox" style="width: 140px;">
            </select>
            <a class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="chooseStudentSearch();"
               style="cursor: pointer; text-decoration: none">搜索 </a>-->
        </div>
    </div>
</div>
<div id="csdlg-button">
    <a class="easyui-linkbutton" onclick="chooseStudentData();">确定</a> <a class="easyui-linkbutton"
                                                                        onclick="closeFormDialog('chooseStudentDlg');">取消</a>
</div>

