<style type="text/css">
    .custom_forms_popup tbody td input[type="text"]
    {
        width: 70px;
    }
</style>
<div id="dlgCancel" style="width: 440px; padding: 10px" data-options="buttons:'#dlg-cancel-buttons',
                                                                         closed: true,
                                                                         shadow:false,
                                                                         modal:true">
    <form id="ff-cancel" method="post">
        <div id="CancleForm"></div>
    </form>
</div>
<div id="dlg-cancel-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancelData();">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="closeCancelDialog();">取消</a>
</div>
<script id="cancel-form-template" type="text/x-handlebars-template">
<table class="custom_forms_popup">
        <tr>
            <td class="td_right">
                订单号:
            </td>
            <td class="td_left" colspan="3">
                {{OrderNum}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                车票号:
            </td>
            <td class="td_left" colspan="3">
                <div style="max-height: 100px;overflow-y: auto;">
                    {{TicketNums}}
                </div>
            </td>
        </tr>
        <tr>
            <td class="td_right" style="width: 25%">
                人民币总金额:
            </td>
            <td class="td_left" style="width: 25%">
                {{RmbPrice}}
            </td>
            <td class="td_right" style="width: 25%">
                港币总金额:
            </td>
            <td class="td_left" style="width: 25%">
                {{HkdPrice}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                退款人民币金额:
            </td>
            <td class="td_left">
                <lable id="lbRmbPrice">{{RmbPrice}}</lable>
            </td>
            <td class="td_right">
                退款港币金额:
            </td>
            <td class="td_left">
                <lable id="lbHkdPrice">{{HkdPrice}}</lable>
            </td>
        </tr>
        <tr>
            <td class="td_right">
                退款百分比:
            </td>
            <td class="td_left">
                <input type="text" class="easyui-validatebox" name="RefundLimit" data-options="required:true"
                 id="txtRefundLimit" value="100" maxlength="3" onblur="refreshCancelPrice()" style="width:40px"></input> %
            </td>
            <td class="td_right">
                购票人:
            </td>
            <td class="td_left">
               {{Customer}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                退票原由:
            </td>
            <td class="td_left" colspan="3">
                <input type="text" name="RefundReason" id="txtRefundReason"  
                class="easyui-validatebox" data-options="required:true"
                maxlength="180"  style="width:275px"></input> 
            </td>
        </tr>
        </table>        
        <div>
            <input id="CancelTkId" type="hidden" name="TicketIds" value="{{TicketIds}}" />
            <input id="CancelRmbPrice" type="hidden" name="RmbPrice" value="{{RmbPrice}}" />
            <input id="CancelHkdPrice" type="hidden" name="HkdPrice" value="{{HkdPrice}}" />
            <input id="CancelOrderId" type="hidden" name="OrderId" value="{{OrderId}}" />
        </div>
</script>