<div id="kgDlg" style="width: 800px;height: 400px" data-options="buttons: '#kgDlg-button',
                                                                        closed: true,
                                                                        shadow:false,
                                                                        modal:true">
    <table id="kgDG"></table>

    <div id="KaoqingToolbar" style="display: none;margin-top: 5px;">
        <div>
            <span class="span_text">姓名:</span>
            <input id="txtCDName" type="text" maxlength="25" class="txtbox_margin" />
            <span class="span_text">学校:</span>
             <select id="ddlCDSchooseSchool" name="ddlCDChooseSchool"  class="easyui-combobox" style="width: 140px;">
            </select>
            <a class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="KaoqingSearch();"
               style="cursor: pointer; text-decoration: none">搜索 </a>
        </div>
    </div>
</div>
<div id="kgDlg-button"><a class="easyui-linkbutton" onclick="closeFormDialog('kgDlg');">取消</a>
</div>

