<div id="registerSetDlg" style="width: 800px;height: 400px" data-options="buttons: '#rsdlg-button',
                                                                        closed: true,
                                                                        shadow:false,
                                                                        modal:true">
    <style type="text/css">
        .custom_forms tr td input[type="text"]
        {
            width: auto;
        }
    </style>
    <form id="registerSetForm" method="post">
    <div id="formTabs" class="easyui-tabs">
        <div title="报名信息" style="padding: 10px;">
             <span style="float: left">
                    <a href="#" class="easyui-linkbutton " iconcls="icon-add" plain="true" onclick="selectAllOne();">全选</a>
                    <a href="#" class="easyui-linkbutton " iconcls="icon-edit" plain="true" onclick="noSelectAllOne();">全不选</a> 
             </span>
            <table class="custom_forms_popup">
                <tbody>
                    <tr>
                        <td class="td_right" style="width: 100px">
                            报名要求:
                        </td>
                        <td class="td_left">
                            <select style="width: 145px;" name="Requirement" id="Requirement">
                                <option value="1">教师自己报名</option>
                                <option value="2">管理员帮学员报名</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_right">
                            授课对象:
                        </td>
                        <td class="td_left">
                            <input type="checkbox" name="TeachingObject" id="TeachingObject1" value="1"/>幼儿教师
                            &nbsp;&nbsp;
                            <input type="checkbox" name="TeachingObject" id="TeachingObject2" value="2"/>小学教师
                            &nbsp;&nbsp;
                            <input type="checkbox" name="TeachingObject" id="TeachingObject3" value="3"/>初中教师
                            &nbsp;&nbsp;
                            <input type="checkbox" name="TeachingObject" id="TeachingObject4" value="4"/>高中教师
                            &nbsp;&nbsp;
                            <input type="checkbox" name="TeachingObject" id="TeachingObject5" value="5"/>其他
                        </td>
                    </tr>
                    <tr>
                        <td class="td_right">
                            授课对象编制:
                        </td>
                        <td class="td_left">
                            <input type="checkbox" name="ObjectEstablish" value="1"/>在编教师
                            &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectEstablish" value="2"/>非在编教师
                        </td>
                    </tr>
                    <tr>
                        <td class="td_right">
                            授课对象学科:
                        </td>
                        <td class="td_left">
                            <input type="checkbox" name="ObjectSubject" value="语文"/>语文 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="数学"/>数学 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="英语"/>英语 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="体育与健康"/>体育与健康 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="音乐"/>音乐 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="美术"/>美术 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="历史"/>历史 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="生物学"/>生物学 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="化学"/>化学 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="物理"/>物理 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="科学"/>科学 &nbsp;&nbsp;<br/>
                            <input type="checkbox" name="ObjectSubject" value="地理"/>地理 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="思想品德"/>思想品德 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="品德与社会"/>品德与社会 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="品德与生活"/>品德与生活 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="历史与社会"/>历史与社会 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="艺术"/>艺术 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="信息技术"/>信息技术 &nbsp;&nbsp;
                            <input type="checkbox" name="ObjectSubject" value="政治"/>政治 &nbsp;&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div title="公办学校" style="padding: 10px;" id="PublicSchool">
            <table id="PublicSchoolTbl" class="custom_forms_popup">
                <span style="float: left">
                    <a href="#" class="easyui-linkbutton " iconcls="icon-add" plain="true" onclick="selectAll();">全选</a>
                    <a href="#" class="easyui-linkbutton " iconcls="icon-edit" plain="true" onclick="noSelectAll();">全不选</a> 
                </span>
                <tr>
                    <td class="td_right">
                    </td>
                    <td class="td_left">
                    </td>
                </tr>
            </table>
        </div>
        <div title="民办学校" style="padding: 10px;" id="PrivateSchool">
             <span style="float: left">
                    <a href="#" class="easyui-linkbutton " iconcls="icon-add" plain="true" onclick="selectAllMingban();">全选</a>
                    <a href="#" class="easyui-linkbutton " iconcls="icon-edit" plain="true" onclick="noSelectAllMingban();">全不选</a> 
             </span>
            <table id="PrivateSchoolTbl" class="custom_forms_popup">
                <tr>
                    <td class="td_right">
                    </td>
                    <td class="td_left">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <input id="Hid" type="hidden" name="Id" />
    </div>
    </form>
</div>
<div id="rsdlg-button">
    <a class="easyui-linkbutton" onclick="saveRegisterSetData();">确定</a> <a class="easyui-linkbutton"
        onclick="closeFormDialog('registerSetDlg');">取消</a>
</div>
