<div id="studentManageDlg" style="width: 800px;height: 300px" data-options="buttons: '#smdlg-button',
                                                                        closed: true,
                                                                        shadow:false,
                                                                        modal:true">
    <table id="studentManageDG"></table>

    <div id="studentManageToolbar" style="display: none">
        <span style="float: left">
                <a href="#" class="easyui-linkbutton " iconcls="icon-add" plain="true" onclick="chooseStudent();">选择学员</a>
                <a href="#" class="easyui-linkbutton " iconcls="icon-remove" plain="true" onclick="deleteStudentManageDatas();">删除学员</a>   
         </span>
        <div class="search_middle">
            <span class="span_text">姓名:</span>
            <input id="txtName" type="text" maxlength="25" class="txtbox_margin" />
            <span class="span_text">学校名称:</span>
            <input id="txtSchoolName" type="text" maxlength="25" class="txtbox_margin" />
            <a class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="StudentSearch();"
               style="cursor: pointer; text-decoration: none">搜索 </a>
             <input id="HsmCourseId" type="hidden"/>
        </div>
    </div>
</div>
<div id="smdlg-button">
    <a class="easyui-linkbutton" onclick="saveStudentData();">确定</a> <a class="easyui-linkbutton"
                                                                        onclick="closeFormDialog('studentManageDlg');">取消</a>
</div>

