<style type="text/css">
    dl {
        margin-bottom: 10px;
    }
    dt {
        font-weight: normal;
    }
</style>
<div>
    <div style="padding-left: 8px;">
        <form id="advancedSearch" method="post">
            <dl>
                <dt>
                    所属站点:
                </dt>
                <dd>
                    <select  id="ddlStationSearch"  name="StationId" class="tdselect easyui-combobox" style="width: 145px;">
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>
                    起点城市:
                </dt>
                <dd>
                    <input type="text" name="StartCity" maxlength="20" style="height: 20px;width: 135px;"/>
                </dd>
            </dl>
            <dl>
                <dt>
                    目的城市:
                </dt>
                <dd>
                    <input type="text" name="EndCity" maxlength="20" style="height: 20px;width: 135px;"/>
                </dd>
            </dl>
            <dl>
                <dt>
                    选择车型:
                </dt>
                <dd>
                    <select style="width: 145px;" class="easyui-combobox" name="CartId" id="ddlCartIdSearh">
                    </select>
                </dd>
            </dl>
            <dl style="display:none">
                <dt>
                    是否启用:
                </dt>
                <dd>
                    <select  id="ddlState"  name="State" class="tdselect" style="width: 145px;">
                       <option value="0">启用</option>
                       <option value="1">禁用</option>
                    </select>
                </dd>
            </dl>
        </form>
    </div>
    <div style="margin-top: 15px;text-align: center">
        <a href="#" class="easyui-linkbutton" onclick="advancedSearch();">立即搜索</a>
        <a href="#" class="easyui-linkbutton" onclick="clearSearchCriteria();">清除条件</a>
    </div>
</div>
