<div id="dlgView" style="width: 630px; padding: 10px" data-options="buttons:'#view-buttons',closed: true,shadow:false,modal:true">
    <div id="viewContent" style="height: 390px;">
    </div>
</div>
<div id="view-buttons">
    <a class="easyui-linkbutton" onclick="closeFormDialog();">取消</a>
</div>
<div id="viewTable">
    <table class="custom_forms_popup">
        <tr>
            <td class="td_right" style="width: 15%">
                机器号:
            </td>
            <td class="td_left">
                {{MachineNo}}
            </td>
            <td class="td_right" style="width: 15%">
                会员卡号:
            </td>
            <td class="td_left" style="width: 32%">
                {{CardNum}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                订单号:
            </td>
            <td class="td_left">
                {{OrderNum}}
            </td>
            <td class="td_right">
                车型:
            </td>
            <td class="td_left">
                {{CarType}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                线路:
            </td>
            <td class="td_left">
                {{LineName}}
            </td>
            <td class="td_right">
                出发日期:
            </td>
            <td class="td_left">
                {{StrLeaveDate}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                下单人:
            </td>
            <td class="td_left">
                {{UserName}}
            </td>
            <td class="td_right">
                联系电话:
            </td>
            <td class="td_left">
                {{Phone}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                上车点:
            </td>
            <td class="td_left">
                {{OnPointName}}
            </td>
            <td class="td_right">
                下车点:
            </td>
            <td class="td_left">
                {{OffPointName}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                订单金额:
            </td>
            <td class="td_left">
                {{OrderPrice}}
            </td>
            <td class="td_right">
                货币类型:
            </td>
            <td class="td_left">
                {{CurrencyType}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                订单来源:
            </td>
            <td class="td_left">
                {{StrOrderSource}}
            </td>
            <td class="td_right">
                付款方式:
            </td>
            <td class="td_left">
                {{StrPaymentType}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                支付状态:
            </td>
            <td class="td_left">
                {{StrPaymentState}}
            </td>
            <td class="td_right">
                核票状态:
            </td>
            <td class="td_left">
                {{StrTicketState}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                出票人:
            </td>
            <td class="td_left">
                {{OutTicketMan}}
            </td>
            <td class="td_right">
                订单状态:
            </td>
            <td class="td_left">
                {{StrOrderState}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                退票人:
            </td>
            <td class="td_left">
                {{CancelBy}}
            </td>
            <td class="td_right">
                退票日期:
            </td>
            <td class="td_left">
                {{StrCancelDate}}
            </td>
        </tr>
        <tr>
            <td class="td_right">
                退票原由:
            </td>
            <td class="td_left" colspan="3">
                {{RefundReason}}
            </td>
        </tr>
    </table>
</div>
