<style type="text/css">
    dl
    {
        margin-bottom: 10px;
    }
    dt
    {
        font-weight: normal;
    }
</style>
<div>
    <div style="padding-left: 8px;">
        <form id="advancedSearch" method="post">
        <br/>
        订单号:
            <br/>
                <input type="text" name="OrderNum" class="" maxlength="20" style="width: 140px" />
            <br/><br/>

        订单来源:
            <br/>
                <select name="OrderSource" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                    <option value="1">网站</option>
                    <option value="2">站点售票机</option>
                    <option value="3">手机终端</option>
                    <option value="4">呼叫中心</option>
                </select>
            <br/><br/>

        客户类型:
            <br/>
                <select name="OrderType" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                    <option value="1">直客</option>
                    <option value="2">会员</option>
                    <option value="3">员工</option>
                    <option value="4">代理商</option>
                </select>
            <br/><br/>

        机器号: 
            <br/>
                <select name="MachineNo" id="ddlMachineNo" class="easyui-combobox" style="width: 150px" />
            <br/><br/>

        付款方式: 
            <br/>
                <select name="PaymentType" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                    <option value="1">支付宝</option>
                    <option value="2">在线支付</option>
                    <option value="3">IC卡支付</option>
                </select>
            <br/><br/>

        下单起始日期:
                <br/>
                <input type="text" name="CreatedOnS" class="easyui-datebox" style="width: 150px" />
            <br/><br/>

        下单结束日期: 
                <br/>
                <input type="text" name="CreatedOnE" class="easyui-datebox" style="width: 150px" />
            <br/><br/>

        订单金额: 
            <br/>
                <input type="text" name="OrderPriceS" class="easyui-numberbox" style="width: 60px" data-options="min:0,precision:2"/>
                -
                <input type="text" name="OrderPriceE" class="easyui-numberbox" style="width: 60px" data-options="min:0,precision:2"/>
            <br/><br/>

        币种: 
            <br/>
                <select name="CurrencyType" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                    <option value="RMB">RMB</option>
                    <option value="HKD">HKD</option>
                </select>
            <br/><br/>

        支付状态: 
            <br/>
                <select name="PaymentState" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                    <option value="0">未支付</option>
                    <option value="1">已支付</option>
                </select>
            <br/><br/>

        退单状态:
            <br/>
                <select name="OrderState" class="easyui-combobox" style="width: 150px" panelHeight="auto">
                    <option value="0">未退单</option>
                    <option value="1">已退单</option>
                </select>
            <br/><br/>
        </form>
    </div>
    <div style="margin-top: 15px; text-align: center">
        <a class="easyui-linkbutton" onclick="advancedSearch();">立即搜索</a> 
        <a class="easyui-linkbutton" onclick="clearSearchCriteria();">清除条件</a>
    </div>
</div>